.header{
    background-image: url(../../../../assets/images/header-background.png);
    transition: 0.3s;
    background-size: 100%;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
}